.container {
  /* display: flex; */
  min-height: 100%;
}
.addButtonWrapper {
  display: flex;
  gap: 4px;
  flex-direction: column;
  position: fixed;
  top: 50px;
  right: 50px;
  color: white;
  font-size: 10px;
}

.addButton {
  font-size: 32px;
  padding: 24px 36px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  color: aliceblue;
  border: 0;
}

.addButton:hover {
  content: 'asdas';
  color: black;
  background-color: white;
}

.switchButton {
  position: fixed;
  top: 50%;
  left: 50px;
  font-size: 32px;
  padding: 24px 36px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  color: aliceblue;
  border: 0;
}

.switchButton:hover {
  color: black;
  background-color: white;
}

.toggleButton {
  margin-top: 16px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.tableTitle {
  margin-top: 50px;
  color: white;
  font-size: 36px;
}

@media only screen and (max-width: 767px),
  only screen and (max-width: 900px) and (orientation: landscape) {
  .addButton {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 100px;
    border: 0;
  }

  .switchButton {
    position: fixed;
    top: 50%;
    left: 10px;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 100px;
    border: 0;
  }

  .addButtonWrapper {
    right: 5px;
  }

  .tableTitle {
    font-size: 24px;
  }
}
