.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 16px;
  border-radius: 32px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: min-content;
  img {
    border-radius: 24px;
    max-width: 200px;
    max-height: 200px;
  }
}

.container:hover {
  color: black;
  background-color: aliceblue;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 16px;
}

.playerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;

  p {
    margin: 0;
  }
}

@media only screen and (max-width: 767px),
  only screen and (max-width: 900px) and (orientation: landscape) {
  .container {
    max-width: 400px;
    margin: 16px;
    border-radius: 32px;
    min-width: min-content;
    img {
      border-radius: 12px;
      max-width: 100px;
      max-height: 100px;
    }
  }

  .playerContentContainer {
    font-size: 24px;
    font-weight: bold;
  }
}
