.container {
  font-family: 'Arial', sans-serif;
  height: 100%;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
}
.nameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: fit-content;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  text-align: center;
  /* font-size: 32px; */
  border: 1px solid #333;
}

th {
  background-color: #393939;
  color: #fff;
  cursor: pointer;
}

tr {
  font-size: larger;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
}

th:hover,
tr:hover {
  background-color: #ffffff;
  color: #000;
}

.tableContainer {
  overflow-x: auto;
  max-width: 90%;
}

.teamLogo {
  max-height: 60px;
  max-width: 60px;
}

@media only screen and (max-width: 767px),
  only screen and (max-width: 900px) and (orientation: landscape) {
  .teamLogo {
    max-height: 40px;
    max-width: 40px;
  }

  tr {
    font-size: small;
  }
}
