.App {
  text-align: center;
  background-image: url('./assets/background.webp'); /* Update with the correct path to your image */
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
}
